.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f2c57c;
}

.App-link {
  color: #09d3ac;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  margin-bottom: 10 px;
}

h2 {
  border: 10px solid brown;
  margin: 0 auto 0 auto;
  margin: 40px;
  padding: 20px;
}

input {
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4); */
}

.input {
}

input:hover {
  box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.4);
}

input::placeholder {
}

/* h3 {
  border: 1px solid grey;
  background: #999;
  position: relative;
  top: 500px;
  margin-left: 250px;
  margin-right: 250px;
} */

.dbox {
  border: 1px solid #999;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.4);
  /* position: absolute; */
  /* bottom: 0; */
  /* margin-bottom: 30px; */

  /* position: relative;
  top: 500px;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 25px;
  padding-bottom: 25px; */
}

/* .windows {
  height: 100vh;
  width: 100vw;
  top: 0;
} */

.blue-window {
  position: absolute;
  background-color: #7dd2dc;
  height: 100vw;
  width: 20vw;
  top: 0;
  left: 0;
  opacity: 1;
  /* box-shadow: 2px 2px 5px -2px; */
}

.red-window {
  position: absolute;
  background-color: #f05050;
  height: 100vw;
  width: 20vw;
  top: 0;
  right: 0;
  opacity: 1;
  /* box-shadow: 2px 2px 5px 2px; */
}

.right-window {
}

button {
  position: absolute;
  top: 55%;
  left: 55%;
  margin-top: -55px;
  margin-left: -105px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
}

#red-text {
}

#blue-text {
}
