.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f2c57c;
}

.App-link {
  color: #09d3ac;
}

h1 {
  margin-bottom: 10 px;
}

h2 {
  border: 10px solid brown;
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 40%;
}

input {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
}

input:hover {
  box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.4);
}

/* input::placeholder {
} */

h3 {
  /* border: 1px solid grey; */
  /* background: #999;
  position: relative;
  top: 500px;
  margin-left: 250px;
  margin-right: 250px; */
}

.input {
}

.dbox {
  border: 1px solid #999;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 500px;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.windows {
  position: absolute;


}
