.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App-link {
  color: #09d3ac;
}

h1 {
  margin-bottom: 10 px;
}

h2 {
  border: 10px solid brown;
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 40%;
}

input {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* input::placeholder {
} */

h3 {
  /* border: 1px solid grey; */
  position: fixed;
  /* left: 0px;
  bottom: 40px;
  height: 30px;
  width: 40%; */
  background: #999;

  top: 70%;
  left: 50%;
  margin-top: -70px;
  margin-left: -100px;
}
